/* backgound color */
body {
	background-image: url("images/background.jpg");
	background-size: cover;
	color: yellow;
}


/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

/* add padding to p elements */
p {
    padding: 10px 30px 10px 30px;
}

/* add border to images */
img {
	border-style: groove;
}

/* add margin to tables */
table {
    margin: 100px 150px 100px 80px;
    background-color: lightblue; 
}

/* style footer */
.footer {
	position: relative;
	border-style: outset;
}

/* style centered class */
.footertext {
    position: absolute;    
    text-align: center;
    top: 100px;
    width: 100%;
    font-family: Georgia, serif;
	font-variant: small-caps;
	font-style: oblique;
	font-size: 40px;
	color: red;
}